<!DOCTYPE html>
<html>
<head>
  <title>Adminfood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<% unless user_signed_in? %>
	<%= render 'layouts/navbar' %>
<% else %>
	<% if current_user.user_type == 1 %>
		<%= render 'layouts/navbar_teacher' %>
	<% elsif current_user.user_type == 2 %>
		<%= render 'layouts/navbar_student' %>
	<% end %>
<% end %>

<%= render 'layouts/messages' %>
<%= yield %>
</div>
</body>
</html>
